#popular{
    .whiteRound{
    @include whiteRound;
    @media only screen and (min-width: 700px) {
        border-radius: 2.156rem;
        }
    h3{
        @media only screen and (min-width: 700px) {
            font-size: $medF;
        }
        font-size: $phoneF;
        margin-bottom: 1rem;
        span{
            color: $textR;
        }
    }
    }

    .reasons{
        width:13%;
        margin: 4%;
        @media only screen and (min-width: 700px) {
            margin: 6%;
            width:10%;
        }
        display:inline-block;
        h4{
            @media only screen and (min-width: 700px) {
                font-size: 2rem;
            }
            margin-top: 1rem;
            color: $textW;
            font-size: .8rem;
       
        }
    }
    #path{
        width:70%;
    }
    margin-bottom:0;
    #phone{
        width: 50%;
    }
}
#bkgrdW{
    background-image: linear-gradient($bckgrdR 85%, transparent 85%);
}

