#bkgrdRed{
    background-color: $bckgrdR;
}
#trend{
    .whiteRound{
        background-color:#ffffff;
        @include widthBot(50%,0);
        @include centerBlock;
        @media only screen and (min-width: 700px) {
        border-radius: 2.156rem;
        }
        h3{
            
            font-size: $phoneF;
            color: $textR;
            margin-bottom: 3rem;
            @media only screen and (min-width: 700px) {
                font-size: $medF;
            }
        }
    }
    h4{
        font-size: $phoneF;
        color: $textW;
        margin-bottom: 2rem;
        @media only screen and (min-width: 700px) {
            font-size:$smaF;
        }
    }
   
      #textImageSec{
          width:25%;
          display:inline-block;
      }
      #arrowD{
          width: 5%;
          display:inline-block;
          margin:0 5%;
      }
      #videoSec{
          width: 25%;
          display:inline-block;
      }
      

}